.list {
  display: grid;
  padding: 4px 16px 0 16px;
  grid-template-columns: repeat(2,minmax(160px, 1fr));
  gap: 25px 5px;
  text-align: left;
  // @include scroll-hide();
  .logo {
    display: flex;
    gap: 7px;
    align-items: center;
    margin-top: 10px;
    font-size: 13px;
    color: #555;
    .imgwrap {
      display: inline-flex;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 1px solid #d9d9d9;
      overflow: hidden;
    }
  }
}
